<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- DTO 등록 -->
		<typeAlias alias="CarDto" type="spring.db.car.MyCarDto" />
		<typeAlias alias="CarMemberDto" type="spring.db.member.CarMemberDto" />
		<typeAlias alias="SawonDto" type="sawon.data.SawonDto" />
	</typeAliases>
</configuration>