ul.menu {
  list-style: none;
  width: 700px;
  margin-left: 100px;
}

ul.menu li {
  font-size: 30px;
  float: left;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border: 1px solid gray;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  background-color: aquamarine;
  border-radius: 20px;
  margin-bottom: 20px;
}

hr.line {
  clear: both;
  height: 20px;
  background-color: gray;
  width: 500px;
}

img.main_photo {
  position: absolute;
  left: 20px;
  top: 200px;
  width: 150px;
  border: 5px solid gold;
}

div.main_comp {
  position: absolute;
  font-size: 25px;
  left: 250px;
  top: 150px;
}
